#outer{
min-height:1200px;
width:750px;
border:2px solid gray;
}
#h{
height:70px;
width:750px;
}
#h1{
height:70px;
width:250px;
float:left;
}
#h2{
width:500px;
height:70px;
float:right;
}
#h21{
width:120px;
height:70px;
background:#fc5e03;
float:left;
}
#h22{
width:380px;
height:70px;
float:right;
}
#name{
height:70px;
width:750px;
font-size:45px;
text-align:left;
padding-left:20px;
font-weight:20px;
font-family:Arial Rounded MT Bold;
}
#profile{
height:200px;
width:750px;
}
#pro1{
height:250px;
width:250px;
float:left;
}
#pro11{
height:40px;
width:250px;
}
#pro12{
height:210px;
width:210px;
border-radius:100%;
margin:0px 20px 0px 20px;
}
#pro2{
height:250px;
width:500px;
float:right;
}
#pro21{
height:220px;
width:120px;
float:left;
background:#fc5e03;
font-size:180px;
padding-top:30px;
color:while;
font-family:Elephant;
}
#pro22{
height:250px;
width:340px;
float:right;
font-size:18px;
padding-top:70px;
padding-left:20px;
padding-right:20px;
text-align: justify;
}
#main{
height:650px;
width:750px;
margin-top:90px;
}
#contact{
height:650px;
width:230px;
background:white; 
float:left;
text-align:left;
font-size:18px;
padding-left:20px;
}
#experience{
height:715px;
width:458px;
float:right;
background:while;
text-align:left;
font-size:18px;
padding-left:20px;
padding-right:20px;
border-left:2px solid #fc5e03; 
}